---
---

@import "{{ site.theme }}";

body > header h1 {
  display: inline-block;
  font-size: 2.2em;
  line-height: 1.2em;
}

body > header h2 {
  color: #aaa;
}

body > nav {
  margin-bottom: 2em;
}

body > nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin-right: 1em;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 0;
  padding-right: 0;
}
